language: minimal

sudo: required
services:
  - docker

branches:
  only:
  - master

before_install:
  - docker build -t vsuzdaltsev/terraform-kitchen-inspec-k8s .

sudo: required
services:
  - docker

before_install:
  - docker build -t vsuzdaltsev/terrafrom-kitchen-inspec-k8s -f ./Dockerfile .

after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  - docker push vsuzdaltsev/terraform-kitchen-inspec-k8s:latest
